body{
	margin: 0;
	background-color: #f9f8f8;
	padding: 0;
	height: 100%;
	text-align: center;
}

#bg{
	position: absolute;
	z-index: -1;
    height: 100%;
    width: 100%;
}

.gameframe{
	width: 300px;
	height: 300px;	
	border: 5px solid #1486fa;
	background-color: white;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.left{
	width: 47%;
	height: 47%;
	margin-top: 2%;
	float: left;
	margin-left: 2%;
	border: 1px solid #eee;
}

.right{
	width: 47%;
	height: 47%;
	margin-top: 2%;
	float: right;
	margin-right: 2%;
	border: 1px solid #eee;
}

.question{
	color: white;
	text-align: center;
	font-size: 14px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 400px;
	line-height: 400px;
	padding-bottom: 400px;
	overflow: hidden;
}

#getpack, #count, #result0, #result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9{
	display: none;
}

.alert{
	height: 350px;
	width: 350px;
	z-index: 10;
	display: none;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.button{
	z-index: 11;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 40px;
	margin-top: -70px;
}

form{
	width: 80%;
	margin-left: 10%;
}
#getpack{
	overflow: hidden;
}

.phone{
	color: #392800;
}

.code{
	border-radius: 2px;
	border: 1px solid black;
}

.formdiv{
    font-family: Microsoft YaHei;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    color: #8a640f;
    padding-top: 120px;
}